aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
colorama==0.4.6
cryptography==40.0.1
Deprecated==1.2.13
distlib==0.3.6
Django==4.1.7
django-cors-headers==3.14.0
django-environ==0.10.0
djangorestframework==3.14.0
ffmpeg-python==0.2.0
filelock==3.9.0
firebase-admin==6.1.0
frozenlist==1.3.3
future==0.18.3
gcloud==0.18.3
google-api-core==1.34.0
google-api-python-client==2.80.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.10.0
google-cloud-secret-manager==2.0.0
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpc-google-iam-v1==0.12.6
grpcio==1.51.3
grpcio-status==1.48.2
gunicorn==20.1.0
httplib2==0.21.0
huggingface-hub==0.13.2
idna==3.4
jwcrypto==1.4.2
libcst==0.4.9
more-itertools==9.1.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.24.2
oauth2client==4.1.3
openai==0.27.1
openai-whisper==20230124
packaging==23.0
platformdirs==3.1.1
proto-plus==1.22.2
protobuf==3.20.3
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.17
PyJWT==2.6.0
pyparsing==3.0.9
Pyrebase4==4.6.0
python-dotenv==0.19.2
python-jwt==4.0.0
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.26.0
requests-toolbelt==0.10.1
rsa==4.9
six==1.16.0
sqlparse==0.4.3
tokenizers==0.13.2
torch==1.13.1
tqdm==4.65.0
transformers==4.26.1
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.21.0
wrapt==1.15.0
yarl==1.8.2
